{#{% set navigation_bar = [#}
{#    (url_for('users.index'), 'home', 'home', _('Live Webcasts')),#}
{#    (url_for('users.permanent_webcasts'), 'home', 'home', _('Permanent Webcasts'))#}
{#] -%}#}

{% if current_user.is_authenticated or IS_LOCAL_INSTALLATION %}
    {% set autehntication_bar = [
        ('#', 'profile', 'user', 'Logged in as: ' + (current_user.username if current_user.is_authenticated else 'Dummy user')),
        (url_for('frontend.main.logout'), 'logout', 'sign out', 'Logout')
] -%}
{% else %}
    {% set autehntication_bar = [
        (url_for('cern_oauth.login'), 'login', 'sign in', 'Login')

] -%}
{% endif %}

{% set active_page = active_page|default('live') -%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

    {% assets "libs_css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets "frontend_css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    {% block script %}
    {% endblock %}

</head>
<body>

{#<div class="pusher">#}
    {% from "macros/toolbars.html" import render_cern_toolbar, render_dev_toolbar %}
    {{ render_dev_toolbar(current_user, IS_LOCAL_INSTALLATION, DEBUG) }}
    {{ render_cern_toolbar(current_user, IS_LOCAL_INSTALLATION) }}

    {% block content %} {% endblock %}

{##}
{#    {% include 'users/common/footer.html' %}#}

{#</div>#}

{% assets "libs_js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "frontend_js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block extra_javascripts %}
{% endblock %}

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.webcast-test.web.cern.ch"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//piwikui.web.cern.ch/piwikui/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '{{ ANALYTICS_PIWIK_ID }}']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//piwikui.web.cern.ch/piwikui/piwik.php?idsite=3722" style="border:0;" alt=""/></p>
</noscript>
<!-- End Piwik Code -->


</body>


</html>


