a {
  color: #4d94cd; }

  .center.text {
    text-align: center; }

    .ui.embed {
      background: transparent; }

      .white.text {
        color: #ffffff !important; }

        .ui.embed.classic {
          max-height: 75%;
          max-width: 75%; }

          .slides-column {
            height: 75%; }

            .ui.secondary.pointing.menu.main {
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex;
              margin: 0;
              vertical-align: middle;
              text-align: center; }

              .module--horizontal {
                width: 100%;
                height: 200px;
                overflow: hidden; }

                .description {
                  max-width: 75%; }

                  #mainVideoContainer video {
                    visibility: visible;
                    width: 100%;
                    max-height: 100%;
                    background-color: black; }

                    video {
                      max-width: 100%; }

                      .top-video-layer {
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        position: absolute;
                        top: 5px;
                        z-index: 2; }

                        .small-streams {
                          z-index: 3;
                          position: absolute;
                          left: 20px;
                          width: 300px;
                          height: 200px;
                          bottom: 20px; }

                          .meeting-self-view {
                            position: relative; }

                            .ui-resizable-handle {
                              background-color: lightblue; }

                              #dev-toolbar {
                                background-color: #FAA732;
                                text-align: center;
                                padding-bottom: 5px;
                                font-size: 20px;
                                font-weight: bold;
                                font-style: italic;
                                padding-top: 5px; }

                                body.pushable > .pusher {
                                  background: #1B1C1D !important; }

                                  .bottom-content {
                                    background: #ececec !important; }

                                    .permanent-container {
                                      padding-bottom: 10em !important;
                                      padding-top: 10em !important; }

                                      .event-description {
                                        height: 20vh;
                                        overflow-y: auto; }

                                        i.material-icons {
                                          opacity: 1;
                                          margin: 0 0.25rem 0 0;
                                          width: 1.18em;
                                          height: 1em;
                                          vertical-align: text-bottom;
                                          text-decoration: inherit;
                                          text-align: center;
                                          speak: none;
                                          font-family: 'Material Icons';
                                          font-weight: normal;
                                          font-style: normal;
                                          font-size: 1.4em;
                                          display: inline-block;
                                          line-height: 1;
                                          text-transform: none;
                                          letter-spacing: normal;
                                          word-wrap: normal;
                                          white-space: nowrap;
                                          direction: ltr;
                                          -webkit-font-smoothing: antialiased;
                                          text-rendering: optimizeLegibility;
                                          -moz-osx-font-smoothing: grayscale;
                                          font-feature-settings: 'liga'; }

                                          .footer a {
                                            color: #89CBE1 !important; }

                                            .footer a:hover {
                                              color: #fff !important; }

                                              .indico {
                                                background-color: #007cac !important; }

                                                a.ui.button.indico {
                                                  padding: 5px 25px;
                                                  vertical-align: bottom; }

                                                  .ui.fluid.card.upcoming {
                                                    height: 100%; }

                                                    #Carousel .ui.items > .item > .image > a > img {
                                                      display: block;
                                                      width: 100%;
                                                      height: auto;
                                                      border-radius: 0.125rem;
                                                      border: none; }

                                                      #Carousel .ui[class*="two column"].grid > .column:not(.row),
                                                      .ui[class*="two column"].grid > .row > .column {
                                                        width: 75%; }

                                                        #Carousel .description {
                                                          max-width: 100%; }

                                                          .ui.text.play {
                                                            width: auto !important;
                                                            height: auto !important;
                                                            text-align: center;
                                                            font-style: normal; }

                                                            .ui.dimmer .ui.play {
                                                              color: rgba(255, 255, 255, 0.9); }

                                                              .ui.title-play {
                                                                position: absolute;
                                                                top: 10%;
                                                                left: 10%;
                                                                margin: 0;
                                                                text-align: left;
                                                                z-index: 1000;
                                                                -webkit-transform: translateX(-50%) translateY(-50%);
                                                                transform: translateX(-50%) translateY(-50%);
                                                                font-size: 1.5em; }

                                                                .ui.play {
                                                                  position: absolute;
                                                                  top: 45%;
                                                                  left: 50%;
                                                                  margin: 0;
                                                                  text-align: center;
                                                                  z-index: 1000;
                                                                  -webkit-transform: translateX(-50%) translateY(-50%);
                                                                  transform: translateX(-50%) translateY(-50%); }

                                                                  .ui.inverted.dimmer .ui.play, .ui.play {
                                                                    width: 2.28571rem;
                                                                    height: 2.28571rem;
                                                                    font-size: 1em; }

                                                                    #Carousel .image img {
                                                                      opacity: 0.7; }

                                                                      #Carousel .image a {
                                                                        color: #fff; }

                                                                        #Carousel a.header {
                                                                          color: #89CBE1; }

                                                                          .masthead h1.header {
                                                                            padding-bottom: 1em; }

                                                                            #Carousel .blue.button {
                                                                              padding: 0.91571em 1.5em; }

                                                                              @media only screen and (max-width: 767px) {
                                                                                #Carousel .image img {
                                                                                  opacity: 0.5;   }
                                                                                  #Carousel .content {
                                                                                    text-align: center;   }
                                                                                    .ui.title-play {
                                                                                      position: absolute;
                                                                                      top: 71%;
                                                                                      left: 52%;
                                                                                      margin: 0;
                                                                                      z-index: 1000;
                                                                                      -webkit-transform: translateX(-50%) translateY(-50%);
                                                                                      transform: translateX(-50%) translateY(-50%);
                                                                                      font-size: 1.1em;
                                                                                      width: 90%;
                                                                                      text-align: center;   }
                                                                                      .ui.play {
                                                                                        position: absolute;
                                                                                        top: 33%;
                                                                                        left: 51%;
                                                                                        margin: 0;
                                                                                        z-index: 1000;
                                                                                        -webkit-transform: translateX(-50%) translateY(-50%);
                                                                                        transform: translateX(-50%) translateY(-50%);   }
                                                                                        .ui.items .item.header {
                                                                                          margin: 0;   }
}

#event-info {
  margin-top: 1em; }

  .ui.items > .item > .content > .row > .header.white-text {
    color: #fff; }

    img.ui.image.indico-info {
      display: inline; }

      .ui.secondary.inverted.pointing.menu .item.view-mode-label {
        padding-left: 0; }

        .custom-info-icon {
          cursor: pointer; }

          .overlay-item {
            width: 33.33%;
            float: left;
            position: relative;
            padding-bottom: 40px; }

            .close-btn {
              position: absolute;
              right: 10px;
              top: 10px;
              font-size: 1.5em;
              color: white;
              z-index: 12;
              cursor: pointer;
              font-weight: bold; }

              .player-content {
                min-height: 10em; }

                .segment.player-content {
                  margin: 0; }

                  .message a {
                    text-decoration: underline; }

#cern-toolbar {
  background-color: #222;
  background-color: rgba(30, 30, 30, 0.95);
  font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 1;
  padding: 0 5%;
  overflow: hidden;
  -moz-box-shadow: inset 0 -1px 0 rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: inset 0 -1px 0 rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 -1px 0 rgba(100, 100, 100, 0.2);
  height: 40px; }

  #cern-toolbar a {
    color: #ccc;
    text-decoration: none;
    padding: 6px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block; }

    #cern-toolbar a:hover {
      background-color: #000;
      color: #fff; }

      #cern-toolbar .active a {
        background-color: #f6f6f6;
        color: #000;
        padding-bottom: 20px; }

        #cern-toolbar .active .cern-account {
          background-color: #fff; }

          #cern-toolbar h1 {
            float: left;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            position: relative;
            left: -8px;
            padding: 6px 0;
            letter-spacing: 0.08em;
            margin: 0; }

            #cern-toolbar h1 a {
              color: #fff; }

              #cern-toolbar h1 span {
                color: #999;
                letter-spacing: normal;
                padding: 0; }

                #cern-toolbar h1 a:hover span {
                  color: #fff; }

                  #cern-toolbar ul {
                    float: right;
                    list-style: none;
                    position: relative;
                    right: -8px;
                    margin: 0; }

                    #cern-toolbar li {
                      float: left;
                      display: block;
                      margin-left: 1em;
                      padding: 6px 0; }

                      #cern-toolbar .cern-multifactor {
                        padding-left: 32px;
                        background-image: url("../img/toolbarsprite.png");
                        background-repeat: no-repeat;
                        background-position: 0 -120px; }

                        #cern-toolbar .cern-signout {
                          margin-left: 1em; }

                          #cern-toolbar a, #cern-toolbar a span {
                            -moz-transition: background-color 0.1s ease-out;
                            -webkit-transition: background-color 0.1s ease-out;
                            -ms-transition: background-color 0.1s ease-out;
                            -o-transition: background-color 0.1s ease-out;
                            transition: background-color 0.1s ease-out; }

                            @media only screen and (max-width:750px) {
                              #cern-toolbar h1 span {
                                display: none;   }
                                #cern-toolbar ul {
                                  border-right: 1px solid #000;
                                  -moz-box-shadow: 1px 0 0 #444;
                                  -webkit-box-shadow: 1px 0 0 #444;
                                  box-shadow: 1px 0 0 #444;   }
                                  #cern-toolbar li {
                                    padding: 0;
                                    margin: 0;
                                    border-left: 1px solid #000;   }
                                    #cern-toolbar li a {
                                      background-image: url("../img/toolbarsprite.png");
                                      background-repeat: no-repeat;
                                      height: 40px;
                                      width: 40px;
                                      -moz-border-radius: 0;
                                      -webkit-border-radius: 0;
                                      border-radius: 0;
                                      text-indent: -5000px;
                                      overflow: hidden;
                                      border-left: 1px solid #444;   }
                                      #cern-toolbar .cern-account {
                                        background-position: 9px 0;   }
                                        #cern-toolbar .cern-directory {
                                          background-position: 9px -40px;   }
                                          #cern-toolbar .cern-signout {
                                            background-position: 9px -80px;
                                            margin-left: 0;   }
                                            #cern-toolbar .active .cern-account {
                                              background-position: -31px 0;   }
                                              #cern-toolbar .active .cern-directory {
                                                background-position: -31px -40px;   }
                                                #cern-toolbar .cern-accountlinks span {
                                                  display: none;   }
                                                  #cern-toolbar .cern-multifactor {
                                                    background-image: none;
                                                    padding: 0;   }
}

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"], [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile), [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile), [class*="or lower hidden"] {
    display: none !important;   }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet), [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet), [class*="large monitor only"]:not(.tablet),
  [class*="widescreen monitor only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;   }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer), [class*="tablet only"]:not(.computer),
  [class*="computer hidden"], [class*="large monitor only"]:not(.computer),
  [class*="widescreen monitor only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;   }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large monitor"]),
  [class*="tablet only"]:not([class*="large monitor"]),
  [class*="computer only"]:not([class*="large monitor"]),
  [class*="large monitor hidden"],
  [class*="widescreen monitor only"]:not([class*="large monitor"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;   }
    .main-content {
      padding-left: 300px;   }
}

@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen monitor"]),
  [class*="tablet only"]:not([class*="widescreen monitor"]),
  [class*="computer only"]:not([class*="widescreen monitor"]),
  [class*="large monitor only"]:not([class*="widescreen monitor"]),
  [class*="widescreen monitor hidden"], [class*="widescreen monitor or lower hidden"] {
    display: none !important;   }
    .main-content {
      padding-left: 300px;   }
}
